*{
    box-sizing: border-box;
}

body{
    /* font-family: Hanalei; */
    font-family: 'Open Sans Condensed';
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    padding: 20px 60px;
}

a{
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}